:root {
  --navbar-bg-color: #fff;
  --darkgrey-color: #5f6265;
  --navbar-icon-size: 24px;
  --navbar-text-size: 14px;
  --navbar-icon-margin-bottom: 5px;
  --green-gradient: linear-gradient(15deg, #7ec646, #4e8026);
  --green-text: #7ec646;
  --bg-color: #fdfdfd;
  --field-color: #f3f3f3;
  --black-color: #1e2023;
  --blue-color: #4285f4;
  --mid-grey: #88898a;
  --light-white: #b6b6b6;
}

.main-container {
  flex-direction: row;
  display: flex;
}
.login-text {
  color: var(--green-text); /* Change this to any color you prefer */
  font-size: 22px; /* Example font size */
  margin-bottom: 5px;
}
.logo-second {
  color: var(--black-color); /* Change this to any color you prefer */
  font-size: 14px; /* Example font size */
  margin-bottom: 5px;
}
.leaf-logo {
  width: 10rem;
  height: 10rem;
}

.login-area {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 50%;
  height: 80vh;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}
.input-field {
  border: none; /* Remove border from input field */
  outline: none;
}

.auth-main {
  padding: 0px 10px;
  margin-top: 10px;
  background-color: var(--field-color);
  border-radius: 10px;
  border: 1px solid var(--green-text);
  background-color: var(--field-color);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 60%; /* Adjust width to fit content */
}
.password-container {
  position: relative;
}
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2cap;
}

.gradient-button {
  width: 60%;
  padding: 15px;
  margin-top: 2rem;
  background: var(--green-gradient);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
}

.gradient-button:hover {
  background: var(--green-gradient);
}

/* line with text */

.container-signup {
  text-align: center;
  margin-top: 1.5rem;
}

.container p {
  font-size: 14px;
  color: var(--black-color);
}

.signup {
  color: var(--green-text);
  text-decoration: none;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password i {
  font-size: 20px;
  color: var(--green-text); /* Change this to any color you prefer */
}
/* SignUp.css */
.error-message {
  width: 60%;
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}
